body {
  background-color: white;
  /* padding: 20px; */
  /* border-radius: 5px; */
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  margin: 10px;
  height: 100px;
  width: 100px;
  /* background-color: black; */
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

#grey {
  background-color: grey;
}

#pink {
  background-color: pink;
}
